<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>loginForm</ion-title>
  </ion-toolbar>
</ion-header> -->
  <ion-content [fullscreen]="true">
    <div>
      <ion-card id="title">
        <ion-card-title style="color:white">Bienvenid@ a Gastin!</ion-card-title>
      </ion-card>
      <form [formGroup]="validationFormUser" (ngSubmit)="LoginUser(validationFormUser.value)">
      <ion-input label="Email" name="email" formControlName="email" label-placement="floating" fill="outline" required></ion-input>
      <ion-input label="Contraseña" type="password" formControlName="password" name="password" label-placement="floating" fill="outline" required></ion-input>
      <ion-card-subtitle id="forgotLink"><a [routerLink]="'/forgotpassword'" style="color:white">Me olvide la Contraseña!</a></ion-card-subtitle>
      
      <ion-card>
        <ion-card-subtitle id="signUpLink">No tengo una cuenta, <a [routerLink]="'/signup'" style="color:white">quiero registrarme!</a></ion-card-subtitle>
        <ion-button type="submit" expand="block" id="LoginBtn" [disabled]="!validationFormUser.valid">Ingresar a Gastin</ion-button>
      </ion-card>
      </form>
    </div>
    <ion-toast
    [isOpen]="alertError"
    [message]="errorMsg"
    [duration]="2000"
    (didDismiss)="alertErrorOpen(false)"
    color="danger"
  ></ion-toast>
  </ion-content>  
