<!-- <ion-header [translucent]="true" class="ion-no-border">
</ion-header> -->

<ion-content [fullscreen]="true">
<div id="container">
  <ion-card>
    <ion-card-title>Bienvenid@ a Gastin!</ion-card-title>
    <ion-card-subtitle>La manera definitiva de administrar tu plata</ion-card-subtitle>
  </ion-card><br>
  <ion-card id="Btns">
    <ion-button id="SignUpBtn" expand="block" [routerLink]="'/signup'">Registrate</ion-button><br>
    <ion-button id="LoginBtn" expand="block" fill="outline" [routerLink]="'/login-form'">Inicia sesión</ion-button>
  </ion-card>
</div>
</ion-content>
