ion-input{
    --background: #D9D9D9;
    --color: #4CA49C;
    margin: 10px;
    margin-right: 100px;
    width: 95%;
    --border-color:#4CA49C;
    --border-radius:8px !important;
}
ion-card{
    background-color: #30383A !important;
    border: none;
    box-shadow: none;

}
ion-content{
    --ion-background-color: #30383A !important;
    
}
#LoginBtn{
    text-transform: none;
    --background: #4CA49C;
    --color: white;
    --border-radius:8px !important;
    --box-shadow: 0 0px 0px 0 rgb(0, 0, 0, 0.25);
}
#forgotLink{
    --color:white;
    margin-left: 5vw;
    margin-bottom: 30vh;
}
#signUpLink{
    margin-left: 3vw;
    margin-bottom: 2vh;
    margin-top: 40vh;
}
#title{
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 3vh;
}