<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div>
    <ion-card id="title">
      <ion-card-title style="color:white">Olvidaste tu contraseña?</ion-card-title>
      <ion-card-subtitle>Tranquil@, puede pasar</ion-card-subtitle>
    </ion-card>
    <ion-input label="Email" name="email" label-placement="floating" fill="outline" [(ngModel)]="email" required></ion-input>
    <ion-card>
      <ion-card-subtitle id="signUpLink">La recorde! <a [routerLink]="'/login-form'" style="color:white">quiero ingresar!</a></ion-card-subtitle>
      <ion-button expand="block" id="LoginBtn">Enviar Mail de Recuperación!</ion-button>
    </ion-card>
  </div>
</ion-content>
