ion-toolbar{
    background-color: var(--ion-color-maing);
}
ion-title{
    padding-left: 2vw !important;
    font-size: 4vh;
    font-weight: bold;
    color: #EFEBDD !important;
  }
ion-content{
    --ion-background-color: #BABEBE !important;
    --ion-color: #30383A;
}
ion-card-title{
    background:#30383A;
}