ion-toolbar{
    background-color: #30383A;
    color:#EFEBDD;
}
ion-content{
    --ion-background-color: #BABEBE !important;
    --ion-color: #30383A;
}
ion-title{
    padding-left: 2vw !important;
    font-size: 4vh;
    font-weight: bold;
    color: #EFEBDD !important;
  }
#header{
    background-color: #30383A !important;
    font-size: 5vh !important; 
    --ion-color: #EFEBDD !important;
}
#footer{
    background-color: #30383A !important;
    text-align: end;
    padding-right: 1vh !important;
    --ion-color: #EFEBDD !important;
}
.positive{
    --ion-color: #3FC53C !important;
}
.negative{
    --ion-color: #D11F1F !important;
}
ion-title{
    padding-left: 2vw !important;
    font-size: 4vh;
    font-weight: bold;
    color: #EFEBDD !important;
  }
.toolbar-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    --background: #30383A;
    color: #BABEBE;
  }
#amount{
    --padding-top: 6vh;
    font-size: 10vw;
    text-align: center;
    //--padding-start:0.5vw;
}
.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ion-modal {
    --height: auto;
}
ion-input{
    --color:#30383A;
    --padding-start:7vw;
    
}