<ion-header [translucent]="true">
  <ion-toolbar color="maing">
    <ion-title>Gastin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Efectivo</ion-card-title>
    <ion-card-subtitle>$4.000</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Super        -$1.000
  </ion-card-content>
  <ion-card-content>
    Taxi         -$500
  </ion-card-content>
  <ion-card-content>
    Kiosko       -$200
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Banco</ion-card-title>
    <ion-card-subtitle>$18.000</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Deposito        +$10.000
  </ion-card-content>
  <ion-card-content>
    Netflix       -$200
  </ion-card-content>
</ion-card>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="success" id="open-modal-new">
    <ion-icon name="add-outline" id="plus" ></ion-icon>
  </ion-fab-button>
  <!-- POR LAS DUDAS<ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab-list> -->
</ion-fab>