

<ion-content [fullscreen]="true">
  <div>
    <ion-card>
      <ion-card-title id="title">Bienvenid@ a Gastin!</ion-card-title>
    </ion-card>
    <ion-input label="Email" type="email"label-placement="floating" fill="outline"></ion-input>
    <ion-input label="Alias" label-placement="floating" fill="outline"></ion-input>
    <ion-input label="Contraseña" type="password" label-placement="floating" fill="outline"></ion-input>
    <ion-input label="Repeti la Contraseña" type="password"label-placement="floating" fill="outline"></ion-input>
    <ion-card>
      <ion-card-subtitle id="bottom">Ya tengo una cuenta, <a [routerLink]="'/login-form'" style="color:white">quiero ingresar!</a></ion-card-subtitle>
      <ion-button expand="block" id="SignUpBtn">Registrarme</ion-button>
    </ion-card>
  </div>
 
</ion-content>