<ion-header [translucent]="true">
  <ion-toolbar color="maing">
    <ion-title>Gastin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let date of dates; let index">
      <div class="ion-activatable ripple-parent rounded-rectangle" id="open-modal-edit" expand="block">
        <ion-grid>
        <ion-row id="date" class="ion-justify-content-between">
           <ion-col style="min-width: 55vw; font-size: small;" size="4">{{date.date | date:'fullDate'}}</ion-col>
           <ion-col size="4" style="text-align: end;">{{date.total|currency}}</ion-col>  
        </ion-row>
      </ion-grid> 
        <ion-row *ngFor="let movement of date.movements">
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size="6" size-md="4" size-lg="2">{{movement.description}}</ion-col>
            <ion-col size="6" size-md="4" size-lg="2" style="text-align: end;">{{movement.amount| currency}}</ion-col>
            <ion-col size="6" size-md="4" size-lg="2">{{movement.category}}</ion-col>
            <ion-col size="6" size-md="4" size-lg="2" style="text-align: end;">{{movement.account}}</ion-col>
          </ion-row>
        </ion-grid> 
        </ion-row>
         <ion-ripple-effect></ion-ripple-effect> 
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-modal #modal2 trigger="open-modal-edit">
    <ng-template>
      <ion-content>
        <ion-title>Nuevo</ion-title>
        <ion-input placeholder="Descripción"></ion-input>
        <ion-input label="$" type="number" placeholder="0.00"></ion-input>
        <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime>
        <ion-select label="Categoria" label-placement="floating" placeholder="Varios">
          <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.description}}</ion-select-option>
        </ion-select>
        <ion-select label="Cuenta" label-placement="floating" placeholder="Efectivo">
          <ion-select-option *ngFor="let wallet of wallets" [value]="wallet.id">{{wallet.description}} | {{wallet.balance|currency}}</ion-select-option>
        </ion-select>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="med">
            <ion-button (click)="cancel()">Eliminar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Modificar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #modal1 trigger="open-modal-new">
    <ng-template>
      <ion-content id="container">

        <ion-header style="text-align: center; background-color: #30383A; color: #EFEBDD; padding-top: 0.4vh; padding-bottom: 0.4vh;">
          <ion-title>Nuevo</ion-title>
          <ion-toolbar>
            <ion-segment (ionChange)="segmentChanged($event)" value="Gasto" style="text-align: center; background-color: #30383A; color: #EFEBDD !important; font-size: 6px !important;">
              <ion-segment-button value="Gasto">
                <ion-label>Gasto -</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Ingreso">
                <ion-label>Ingreso +</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Movimiento">
                <ion-label>Movimiento =</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </ion-header>
        <form (ngSubmit)="confirmMovement(validatorMovement.value)" [formGroup]="validatorMovement">
        <ion-input placeholder="Descripción"formControlName="description" style="--padding-top: 8vh; font-size: 22px !important;"></ion-input>
        <ion-input label="$" formControlName="amount" type="number" step="0.01" min="0,01" placeholder="0,00" id="amount"></ion-input>
        <ion-datetime formControlName="date" presentation="date-time" [preferWheel]="true" style="height: 25vh; margin: 3vh; width: 10vw;"></ion-datetime>
        <ion-select *ngIf="MovementType!==3"label="Categoria" label-placement="floating" placeholder="Varios" formControlName="category">
          <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.description}}</ion-select-option>
        </ion-select>
        <ion-select label="Cuenta Origen" label-placement="floating" placeholder="Seleccionar" formControlName="wallet" (ionChange)="onSelectionChange($event)">
          <ion-select-option *ngFor="let wallet of wallets" [value]="wallet.id">{{wallet.description}} | {{wallet.balance|currency}}</ion-select-option>
        </ion-select>
        <ion-select *ngIf="MovementType===3" label="Cuenta Destino" label-placement="floating" placeholder="Seleccionar" formControlName="destinationWallet">
          <ion-select-option *ngFor="let wallet of destwallets" [value]="wallet.id">{{wallet.description}} | {{wallet.balance|currency}}</ion-select-option>
        </ion-select>
        <ion-toolbar class="toolbar-bottom">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="">
            <ion-button (click)="confirm()"><ion-icon name="time-outline"> </ion-icon> Programar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button type="submit" [disabled]="!validatorMovement.valid" [strong]="true" style="color:#4CA49C;">Agregar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success" id="open-modal-new">
      <ion-icon name="add-outline" id="plus" ></ion-icon>
    </ion-fab-button>
    <!-- POR LAS DUDAS<ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>
</ion-content>