<ion-header [translucent]="true">
  <ion-toolbar color="maing">
    <ion-title>Gastin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let date of dates; let index">
      <div>
        <ion-grid>
        <ion-row id="date" class="ion-justify-content-between">
           <ion-col style="min-width: 55vw; font-size: small; display: flex; align-items: center;" size="4">{{date.date | date:'fullDate'}}</ion-col>
           <ion-col size="5" style="text-align: end;">{{date.total|currency:'ARS'}}</ion-col>  
        </ion-row>
      </ion-grid> 
        <ion-row *ngFor="let movement of date.movements">
        <ion-grid>
          <ion-row (click)="editMovement(movement)">
            <ion-col style="display: flex; justify-content: center; align-items: center;padding-bottom: 0 !important; padding-right: 0 !important;"><ion-avatar  class="circle" [ngStyle]="{'background':movement.movementType===2 ? '#3FC53C' : movement.movementType===1 ? '#D11F1F' : movement.movementType===3 ? 'gray' : ''}" style="background: #D11F1F;">
              <ion-icon [name]="movement.categoryObj.icon" style="font-size: 28px; display: flex; justify-content: center; color: #EFEBDD;"></ion-icon>
            </ion-avatar></ion-col>
            <ion-col size="10" size-md="10" size-lg="4" style="padding-bottom: 0 !important; padding-left: 0 !important;">
              <ion-row class="ion-justify-content-between">
                <ion-col size="7.5" size-md="4" size-lg="2" class="topRow"style=" color: #000; font-weight: bold;">{{movement.description | titlecase}}</ion-col>
                <ion-col size="4.5" size-md="4" size-lg="2" class="topRow" style="text-align: end; font-weight: bold; padding-right:0 !important;" [ngStyle]="{'color':movement.amount>=0 ? '#3FC53C' : '#D11F1F'}">{{movement.amount| currency:'ARS':'symbol':'1.0-0'}}</ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-between">
                <ion-col size="6" size-md="4" size-lg="2" class="bottomRow"style="color: white">{{movement.categoryObj.description |titlecase}}</ion-col>
                <ion-col size="6" size-md="4" size-lg="2" class="bottomRow" style="text-align: end; color: white; font-weight: bold; padding-right:0 !important;">{{movement.accountObj.description|titlecase}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid> 
        </ion-row>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-modal #modalEditMovement>
    <ng-template>
      <ion-content id="container">
        <ion-header style="text-align: center; background-color: #30383A; color: #EFEBDD; padding-top: 0.4vh; padding-bottom: 0.4vh;">
        <ion-title>Editar</ion-title>
        </ion-header>
        <form (ngSubmit)="confirmEditMovement(validatorEditMovement.value)" [formGroup]="validatorEditMovement">
          <ion-input placeholder="Descripción"formControlName="description" maxlength="18" style="--padding-top: 8vh; font-size: 22px !important;"></ion-input>
          <ion-input label="$" formControlName="amount" type="number" step="0.01" min="0,01" placeholder="0,00" id="amount"></ion-input>
          <ion-datetime formControlName="date" presentation="date-time" [preferWheel]="true" style="height: 25vh; margin: 3vh; width: 10vw;"></ion-datetime>
          <ion-select *ngIf="MovementType!==3" cancel-text="Cancelar" label="Categoria" interface="action-sheet" label-placement="floating" placeholder="Varios" formControlName="category">
            <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.description}}</ion-select-option>
          </ion-select>
          <ion-select label="Cuenta Origen" cancel-text="Cancelar" label-placement="floating" interface="action-sheet" placeholder="Seleccionar" formControlName="wallet" (ionChange)="onSelectionChange($event)">
            <ion-select-option *ngFor="let wallet of wallets" [value]="wallet.id">{{wallet.description}} | {{wallet.balance|currency :'ARS'}}</ion-select-option>
          </ion-select>
          <ion-select *ngIf="MovementType===3" cancel-text="Cancelar" label="Cuenta Destino" interface="action-sheet" label-placement="floating" placeholder="Seleccionar" formControlName="destinationWallet">
            <ion-select-option *ngFor="let wallet of destwallets" [value]="wallet.id">{{wallet.description}} | {{wallet.balance|currency :'ARS'}}</ion-select-option>
          </ion-select>
        <ion-toolbar class="toolbar-bottom">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
             <ion-button id="confirm-delete-alert">Eliminar</ion-button> 
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button *ngIf="MovementType!==3" type="submit" [disabled]="!validatorEditMovement.valid" [strong]="true" style="color:#4CA49C;">Modificar</ion-button>
          </ion-buttons>
          <ion-alert
          trigger="confirm-delete-alert"
          header="Desea eliminar el moviemiento?"
          [buttons]="alertButtons"
          (didDismiss)="deleteMovement(editableMovement.id)"
          ></ion-alert>
        </ion-toolbar>
      </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #modal1 trigger="open-modal-new">
    <ng-template>
      <ion-content>

        <ion-header style="text-align: center; background-color: #30383A; color: #EFEBDD; padding-top: 0.4vh; padding-bottom: 0.4vh;">
          <ion-title>Nuevo</ion-title>
          <ion-toolbar>
            <ion-segment (ionChange)="segmentChanged($event)" value="Gasto" style="text-align: center; background-color: #30383A; color: #EFEBDD !important; font-size: 6px !important;">
              <ion-segment-button value="Gasto">
                <ion-label>Gasto -</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Ingreso">
                <ion-label>Ingreso +</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Movimiento">
                <ion-label>Movimiento =</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </ion-header>
        <form (ngSubmit)="confirmMovement(validatorMovement.value)" [formGroup]="validatorMovement">
        <ion-input placeholder="Descripción"formControlName="description" maxlength="18" style="--padding-top: 6vh; font-size: 22px !important;"></ion-input>
        <ion-input label="$" formControlName="amount" type="number" step="0.01" min="0,01" placeholder="0,00" id="amount"></ion-input>
        <ion-datetime formControlName="date" presentation="date-time" [preferWheel]="true" style="height: 25vh; margin: 3vh; width: 10vw;"></ion-datetime>
        <ion-select *ngIf="MovementType!==3" cancel-text="Cancelar" label="Categoria" interface="action-sheet" label-placement="floating" placeholder="Varios" formControlName="category">
          <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.description}}</ion-select-option>
        </ion-select>
        <ion-select label="Cuenta Origen" cancel-text="Cancelar" label-placement="floating" interface="action-sheet" placeholder="Seleccionar" formControlName="wallet" (ionChange)="onSelectionChange($event)">
          <ion-select-option *ngFor="let wallet of wallets" [value]="wallet.id">{{wallet.description}} | {{wallet.balance|currency :'ARS'}}</ion-select-option>
        </ion-select>
        <ion-select *ngIf="MovementType===3" cancel-text="Cancelar" label="Cuenta Destino" interface="action-sheet" label-placement="floating" placeholder="Seleccionar" formControlName="destinationWallet">
          <ion-select-option *ngFor="let wallet of destwallets" [value]="wallet.id">{{wallet.description}} | {{wallet.balance|currency :'ARS'}}</ion-select-option>
        </ion-select>
        <ion-select *ngIf="MovementType!==3" cancel-text="Cancelar" label="Repetir mensualmente" label-placement="floating" placeholder="No" formControlName="reps">
          <ion-select-option *ngFor="let rep of repetitions" [value]="rep.times">{{rep.text}}</ion-select-option>
        </ion-select>
        <ion-toolbar class="toolbar-bottom">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button type="submit" [disabled]="!validatorMovement.valid" [strong]="true" style="color:#4CA49C;">Agregar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #modal2 trigger="open-modal-scheduled" [initialBreakpoint]="0.5" [breakpoints]="[0,0.5,1]">
    <ng-template>
      <ion-content>
        <ion-header style="text-align: center; background-color: #30383A; color: #EFEBDD; padding-top: 0.4vh; padding-bottom: 0.4vh;">
          <ion-title>Programados</ion-title>
        </ion-header>
        <ion-list>
          <ion-item *ngFor="let schedule of activeSchedules; let index">
              <ion-grid>
                <ion-row class="ScheduleItem">
                  <ion-col size="7">
                    <ion-row>
                      <ion-col size="12" style=" color: #000; font-weight: bold;">{{schedule.original_movement_id.description | titlecase}}</ion-col>
                      <ion-col size="12" style=" color: #000; font-weight: bold;">Los {{schedule.day}} de cada mes!</ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="3">
                    <ion-row>
                      <ion-col size="12" size-md="2" size-lg="2" style="display: flex; justify-content: center; align-items: center; font-weight: bold;" [ngStyle]="{'color':schedule.original_movement_id.amount>=0 ? '#3FC53C' : '#D11F1F'}">{{schedule.original_movement_id.amount | currency:'ARS'}}
                      </ion-col>
                      <ion-col size="12" size-md="2" size-lg="2" style="display: flex; justify-content: center; align-items: center; color: #000; font-weight: bold;">{{schedule.payed}}|{{schedule.total_payments}}
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="2"  style="display: flex; justify-content: center; align-items: center;padding-bottom: 0 !important; padding-right: 0 !important;"><ion-button (click)="deleteSchedule(schedule.id)" class="circle" style="background: #D11F1F;">
                    <ion-icon name="trash-outline" style="font-size: 28px; display: flex; justify-content: center; color: #EFEBDD;"></ion-icon>
                  </ion-button></ion-col>
                </ion-row>
              </ion-grid> 
          </ion-item>
        </ion-list>
        <!-- <ion-toolbar class="toolbar-bottom">
          <ion-buttons slot="primary">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button type="submit" [disabled]="!validatorMovement.valid" [strong]="true" style="color:#4CA49C;">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar> -->
      </ion-content>
    </ng-template>
  </ion-modal>
 
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: #4CA49C !important;">
      <ion-icon name="add" style="color: #EFEBDD !important; font-size: 10vw;"></ion-icon>
    </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button style="--background: #4CA49C !important;" id="open-modal-new">
      <ion-icon name="add-outline" id="plus" style="color: #EFEBDD !important; font-size: 7vw;"></ion-icon>
    </ion-fab-button>
      <ion-fab-button style="--background: #4CA49C !important;" id="open-modal-scheduled">
        <ion-icon name="time-outline" id="plus" style="color: #EFEBDD !important; font-size: 7vw;"></ion-icon>
      </ion-fab-button>
  </ion-fab-list> 
  </ion-fab>
  <ion-toast
    [isOpen]="alertError"
    [message]="errorMsg"
    [duration]="2000"
    (didDismiss)="alertErrorOpen(false)"
    color="danger"
  ></ion-toast>
</ion-content>