<ion-header [translucent]="true">
  <ion-toolbar color="maing">
    <ion-title>Gastin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display:flex; justify-content: center; margin: 3vh;">
    <ion-button class="prototype" fill="outline"><ion-icon slot="icon-only" name="person-outline" style="color: #4CA49C !important;font-size: 30vw;"></ion-icon></ion-button>
  </div>
  <div style="text-align: center;">
    <ion-title style="color: #30383A !important;" *ngIf="user">Hola, {{user!.alias | titlecase}}!</ion-title>
  </div>
  <div style="text-align: center;">
  <ion-title style="color: #30383A !important; font-size: smaller;" *ngIf="user">ID {{user!.id}}</ion-title>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-left: 5vw; margin-right: 5vw; margin-top: 3vh;">
      <ion-input class="input" label="Alias" labelPlacement="floating" [(ngModel)]="alias" *ngIf="user"></ion-input>
    <ion-button class="input-button" [disabled]="!alias" (click)="updateAlias()">Cambiar</ion-button>
  </div>
  <ion-button id="LoginBtn" expand="block" fill="outline" [routerLink]="'/login-form'">Cambiar contraseña</ion-button>
  <div style="display: flex; justify-content: center; align-items: center; margin-left: 5vw; margin-right: 5vw; margin-top: 3vh;">
    <ion-input class="input" label="ID Usuario Mayor" labelPlacement="floating" [(ngModel)]="idUpperUser" *ngIf="user"></ion-input>
  <ion-button class="input-button" [disabled]="!idUpperUser && idUpperUser===0" (click)="updateIdUser()">Cambiar</ion-button>
  </div>
  <ion-button id="LogOutBtn" expand="block" fill="outline" [routerLink]="''">Cerrar Sesion</ion-button>
</ion-content>
