<ion-header [translucent]="true">
  <ion-toolbar color="maing">
    <ion-title>Gastin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="border-radius: 10px;">
    <ion-card-header style="padding: 5px; margin:0; text-align: center; background-color: #30383A !important;">
      <ion-title size="large" style="color: #EFEBDD !important; font-size: 3vh !important;">Categorías</ion-title>
    </ion-card-header>
  </ion-card>
  <ion-card style="border-radius: 10px;">
    <ion-card-header id="header" style="padding: 3px; margin:0; text-align: start;">
      <ion-title size="large" style="color: #30383A !important; font-size: 3vh !important;">Gastos</ion-title>
    </ion-card-header>
  </ion-card>
  <ion-grid>
    <ion-row style="margin-left: 2.5vh;">
    <ion-col *ngFor="let category of spentCategories" class="category" size="6" size-md="4" size-lg="2" (click)="EditCategory(category,1)">
      <ion-avatar  class="circle" style="background: #D11F1F;">
        <ion-icon [name]="category.icon"  style="font-size: 28px; display: flex; justify-content: center; color: white;"></ion-icon>
      </ion-avatar>
        <ion-label class="title">{{category.description | titlecase}}</ion-label>
    </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <ion-card style="border-radius: 10px;">
    <ion-card-header id="header" style="padding: 3px; margin:0; text-align: start;">
      <ion-title size="large" style="color: #30383A !important; font-size: 3vh !important;">Ingresos</ion-title>
    </ion-card-header>
  </ion-card>
  <ion-grid>
    <ion-row style="margin-left: 2.5vh;">
    <ion-col *ngFor="let category of incomeCategories" class="category" size="6" size-md="4" size-lg="2" (click)="EditCategory(category,2)">
    <ion-avatar  class="circle" style="background: #3FC53C;">
    <ion-icon [name]="category.icon"  style="font-size: 24px; color: white;"></ion-icon>
    </ion-avatar>
    <ion-label class="title">{{category.description | titlecase}}</ion-label>
  </ion-col>
  </ion-row>
  </ion-grid>
  <ion-modal #modalEditCategory>
  <ng-template>
    <ion-content>
      <ion-header style="text-align: center; background-color: #30383A; color: #EFEBDD; padding-top: 0.4vh; padding-bottom: 0.4vh;">
        <ion-title>Actualizar Categoría</ion-title>
      </ion-header>
      <form (ngSubmit)="confirmEditCategory(validatorCategoryUpdate.value)" [formGroup]="validatorCategoryUpdate">
        <div style="display: flex; align-items: center; margin: 4vw;">
          <ion-icon name="document-text-outline" style="font-size: 26px; color:#30383A"></ion-icon><ion-input  placeholder="Descripción"formControlName="description" maxlength="18" style="height: 7vh !important; margin-left:1vw;font-size: 22px !important; color:#30383A;"></ion-input>
        </div>
          <div style="display:flex; justify-content: center;">
            <ion-segment (ionChange)="typeChanged($event)" [value]="categoryTypeEdit" ng="iconColor" style="min-height: 5vh !important; height: 5vh !important; border-radius: 10px; max-width: 90vw; margin: 4vw; background:  #D9D9D9 !important;" >
              <ion-segment-button value="1" class="spentOption">
                <ion-label>Gasto</ion-label>
              </ion-segment-button>
              <ion-segment-button value="2" class="incomeOption">
                <ion-label>Ingreso</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
          
          <ion-grid>
            <ion-row>
            <ion-col *ngFor="let icon of icons" size="2" size-md="2" size-lg="2" style="display:flex; justify-content: center;">
              <ion-button class="icon" [style.--background]="iconColor" (click)="changeIcon(icon)" ><ion-icon slot="icon-only" [name]="icon" style="font-size: 26px;"></ion-icon></ion-button>
            </ion-col>
            </ion-row>
          </ion-grid>
        <div style="display:flex; justify-content: center; margin: 3vh;">
          <ion-button class="prototype" [style.--background]="iconColor" ><ion-icon slot="icon-only" [name]="selectedIcon" style="font-size: 35px;"></ion-icon></ion-button>
        </div>
      <ion-toolbar class="toolbar-bottom">
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button type="submit" [disabled]="!validatorCategoryUpdate.valid" [strong]="true" style="color:#4CA49C;">Modificar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </form> 
    </ion-content>
  </ng-template>
  </ion-modal>
  <ion-modal #modal3 trigger="open-modal-new-category" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <ion-content id="container">

      <ion-header style="text-align: center; background-color: #30383A; color: #EFEBDD; padding-top: 0.4vh; padding-bottom: 0.4vh;">
        <ion-title>Nueva Categoría</ion-title>
      </ion-header>
      <form (ngSubmit)="newCategory(validatorCategory.value)" [formGroup]="validatorCategory">
        <div style="display: flex; align-items: center; margin: 4vw;">
          <ion-icon name="document-text-outline" style="font-size: 26px; color:#30383A"></ion-icon><ion-input maxlength="18" placeholder="Descripción"formControlName="description" style="height: 7vh !important; margin-left:1vw;font-size: 22px !important; color:#30383A;"></ion-input>
        </div>
          <div style="display:flex; justify-content: center;">
            <ion-segment (ionChange)="typeChanged($event)" value="1" ng="iconColor" style="min-height: 5vh !important; height: 5vh !important; border-radius: 10px; max-width: 90vw; margin: 4vw; background:  #D9D9D9 !important;" >
              <ion-segment-button value="1" class="spentOption">
                <ion-label>Gasto</ion-label>
              </ion-segment-button>
              <ion-segment-button value="2" class="incomeOption">
                <ion-label>Ingreso</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
          
          <ion-grid>
            <ion-row>
            <ion-col *ngFor="let icon of icons" size="2" size-md="2" size-lg="2" style="display:flex; justify-content: center;">
              <ion-button class="icon" [style.--background]="iconColor" (click)="changeIcon(icon)" ><ion-icon slot="icon-only" [name]="icon" style="font-size: 26px;"></ion-icon></ion-button>
            </ion-col>
            </ion-row>
          </ion-grid>
        <div style="display:flex; justify-content: center; margin: 3vh;">
          <ion-button class="prototype" [style.--background]="iconColor" ><ion-icon slot="icon-only" [name]="selectedIcon" style="font-size: 35px;"></ion-icon></ion-button>
        </div>
      <ion-toolbar class="toolbar-bottom">
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button type="submit" [disabled]="!validatorCategory.valid" [strong]="true" style="color:#4CA49C;">Agregar</ion-button>
        </ion-buttons>
      </ion-toolbar>
      </form> 
    </ion-content>
    </ng-template>
  </ion-modal>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: #4CA49C !important;" id="open-modal-new-category">
      <ion-icon name="add-outline" id="plus" style="color: #EFEBDD !important; font-size: 10vw;" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
